* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 18px;
}

.value {
  display: block;
  font-weight: 500;
  font-size: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80px;
  background-color: aquamarine;
  border-radius: 20px;
  border: solid 1 darkcyan;
}

button {
  width: 120px;
  height: 34px;
  background-color: rgb(91, 163, 231);
  font-weight: 600;
  font-size: 18px;
  color: #212121;
  border-radius: 20px;
  border: solid 1 rgb(7, 71, 131);
}

button:disabled {
  background-color: rgb(206, 217, 228);
  font-weight: 400;
}

input {
  width: 240px;
  height: 34px;
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
}

input:disabled {
  font-weight: 400;
  background-color: rgb(206, 217, 228);
}
